:root {
    --color-primary: #6cbcc1;
    --color-secondary: #80aeb3;
    --color-surface-1: #fff;
    --color-surface-2: #f7f7f7;
    --color-surface-3: #e9e9e9;
    --color-surface-4: #adafaf;
    --color-surface-5: #eef5f9;
    --color-text-1: #2d2d2d;
    --color-text-2: #4a4a4a;
    --color-text-3: #6b6b6b;
    --color-text-4: #929292;
    --color-border: #c9c9c9;
    --color-danger: #ee082e;
    --color-rose: #d8304c;
    --color-success: #0da55e;
}
