<div class="recipe">
    @if (isLoading()) {
        <div class="skeleton-container">
            <app-skeleton width="100%" height="10rem"></app-skeleton>
            <app-skeleton width="50%" height="1.5rem"></app-skeleton>
        </div>
    } @else {
        <div class="cover-container">
            <img [src]="recipe().image" />
            <div class="back-contaienr" (click)="getBack()">
                <app-icon
                    color="var(--color-surface-1)"
                    icon="mingcute:arrow-left-circle-fill"
                ></app-icon>
            </div>
            <div class="bookmark-contaienr">
                <app-icon
                    (task)="
                        checkMarked(recipe())
                            ? deleteMarkedRecipe(recipe().id)
                            : saveToBookmark(recipe())
                    "
                    color="var(--color-surface-1)"
                    [icon]="`mingcute:bookmark-${checkMarked(recipe()) ? (authenticated() ? 'fill' : 'line') : 'line'}`"
                    style="cursor: pointer"
                ></app-icon>
            </div>
            <app-info-box [recipe]="recipe()"></app-info-box>
        </div>
        <div class="content">
            <app-ingredients [ingredients]="recipe().ingredients"></app-ingredients>
            <app-button (task)="onOpenSheet()" font-size="1.1rem" [full-width]="true"
                >See Instructions</app-button
            >
        </div>
        <app-bottom-sheet [isOpen]="sheetVisibility()" padding="20px" (closed)="onCloseSheet()">
            <app-instructions [recipe]="recipe()"></app-instructions>
        </app-bottom-sheet>
    }
</div>
