.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: absolute;
    bottom: 0px;
    inline-size: 100%;
    padding: 0.8rem 1.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.06);
    block-size: 5rem;

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        block-size: 100%;
        border-radius: 1rem;

        &.active {
            background-color: #e9e9e9;
        }
    }
}
