<div class="profile">
    <h2>Profile</h2>
    <div class="profile-card">
        <div class="user-card">
            <header>
                <section>
                    <p class="user-data">{{ userInfo().role }}</p>
                    <p class="user-data-title">Role</p>
                </section>
                <img [src]="userInfo().image" alt="user-profile" />
                <section>
                    <p class="user-data">{{ userInfo().gender }}</p>
                    <p class="user-data-title">Gender</p>
                </section>
            </header>
            <div class="user-info">
                <h3>{{ userInfo().username }}</h3>
                <p>{{ userInfo().email }}</p>
            </div>
            <div class="extra-info">
                <div class="info-container">
                    <div class="info-title">
                        <app-icon
                            [size]="16"
                            color="var(--color-primary)"
                            icon="mingcute:location-2-fill"
                        ></app-icon>
                        <p>Location</p>
                    </div>
                    <p class="info">{{ userInfo().address['country'] }}</p>
                </div>
                <div class="info-container">
                    <div class="info-title">
                        <app-icon
                            [size]="16"
                            color="var(--color-primary)"
                            icon="ic:baseline-phonelink-ring"
                        ></app-icon>
                        <p>Phone</p>
                    </div>
                    <p class="info">{{ userInfo().phone }}</p>
                </div>
            </div>
        </div>
        <div class="action-list">
            <div class="action-container">
                <p class="title">Add new recipe</p>
                <div class="action" (click)="navigation('recipes/create')">
                    <app-icon
                        [size]="18"
                        color="var(--color-surface-1)"
                        icon="ic:outline-plus"
                    ></app-icon>
                </div>
            </div>
            <div class="action-container">
                <p class="title">Saved recipes</p>
                <div class="action" (click)="navigation('my-recipes/saved')">
                    <app-icon
                        [size]="18"
                        color="var(--color-surface-1)"
                        icon="mingcute:bookmark-fill"
                    ></app-icon>
                </div>
            </div>
            <div class="action-container">
                <p class="title">My Creations</p>
                <div class="action" (click)="navigation('my-recipes')">
                    <app-icon
                        [size]="18"
                        color="var(--color-surface-1)"
                        icon="mingcute:archive-fill"
                    ></app-icon>
                </div>
            </div>
            <div class="action-container">
                <p class="title">Logout</p>
                <div class="action logout">
                    <app-icon
                        [size]="18"
                        color="var(--color-surface-1)"
                        icon="mingcute:power-fill"
                    ></app-icon>
                </div>
            </div>
        </div>
    </div>
    <app-dialog [(open)]="isDialogOpen" width="700px">
        <h1>hello</h1>
    </app-dialog>
</div>
