<app-auth-controller>
    <div class="create-recipe">
        <header>
            <h2>Create New Recipe</h2>
            <img src="/images/chef.svg" alt="chef" />
        </header>
        <div class="generation">
            <div class="form">
                <div class="recipe-name-input">
                    <input
                        appInput
                        type="text"
                        placeholder="Recipe Name..."
                        [(ngModel)]="recipeName"
                    />
                </div>
                <div class="serving-input">
                    <select appInput [(ngModel)]="serving">
                        <option value="" disabled selected>Serving</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="time-input">
                    <input
                        appInput
                        type="number"
                        min="0"
                        max="120"
                        placeholder="Preparing Time..."
                        [(ngModel)]="preparingTime"
                    />
                </div>
            </div>
            <div class="actions">
                <button class="action" (click)="openModifyIngredient()">
                    Add Ingredient
                    <app-icon icon="ic:outline-plus" color="var(--color-primary)"></app-icon>
                </button>
                <button class="action" (click)="openModifyInstruction()">
                    Add Instruction
                    <app-icon icon="ic:outline-plus" color="var(--color-primary)"></app-icon>
                </button>
            </div>
        </div>
        <div class="recipes-info">
            <div class="ingredients">
                <h5>ingredients</h5>
                <p class="no-data-message">There is no ingredient</p>
            </div>
            <div class="instructions">
                <h5>instructions</h5>
                <p class="no-data-message">There is no instruction</p>
            </div>
        </div>
        <app-button [full-width]="true" padding-block="0.8rem">Create</app-button>
        <app-dialog [closeOnBackdrop]="false" [(open)]="modifyIngredientDialogOpening">
            <app-modify-ingredient type="create"></app-modify-ingredient>
        </app-dialog>
        <app-dialog [closeOnBackdrop]="false" [(open)]="modifyInstructionDialogOpening">
            <app-modify-instruction type="create"></app-modify-instruction>
        </app-dialog>
    </div>
</app-auth-controller>
