.recipe-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: var(--color-surface-1);

    .background-wrapper {
        position: relative;

        img {
            inline-size: 100%;
            border-radius: 0.8rem;
            margin-bottom: 0.5rem;
        }

        .rating {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            position: absolute;
            top: 0.4rem;
            right: 0.5rem;
            padding: 0.3rem;
            border-radius: 1rem;
            background: rgba(128, 174, 179, 0.45);
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);

            p {
                font-size: 0.8rem;
                color: var(--color-surface-1);
            }
        }
    }

    .title {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--color-text-2);
        margin-bottom: 1rem;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .duration {
            display: flex;
            align-items: center;
            gap: 0.3rem;

            p {
                font-size: 0.7rem;
                color: var(--color-text-3);
            }
        }
    }
}
