<div class="ingredients">
    <div class="title">
        <div class="title-left">
            <h2>Ingredients</h2>
            <img src="/images/grapes.png" />
        </div>
        <p>{{ ingredients.length }} Items</p>
    </div>
    <ul class="ingredients-list">
        @for (ingredient of ingredients; track $index) {
            <li>
                <app-icon
                    icon="ic:sharp-circle"
                    [size]="10"
                    color="var(--color-secondary)"
                    hoverColor="var(--color-secondary)"
                ></app-icon>
                <p>
                    {{ ingredient | truncate: 35 }}
                </p>
            </li>
        }
    </ul>
</div>
