<div class="login">
    <div class="form-card">
        <header>
            <img alt="login-background" src="/images/login-view.svg" class="form-card-image" />
            <h2 class="form-card-title">Welcome to Recipe</h2>
            <p class="form-card-description">
                Sign in to discover, save, and share your favorite recipes.
            </p>
        </header>
        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
            <div class="field-container">
                <app-icon
                    icon="mingcute:user-2-fill"
                    color="var(--color-surface-4)"
                    hoverColor="var(--color-surface-4)"
                ></app-icon>
                <input
                    type="text"
                    value="emilys"
                    placeholder="Email"
                    formControlName="username"
                    [class.error]="isFieldInvalid('username')"
                />
                <span class="error-message" *ngIf="isFieldInvalid('username')"
                    >User name is required</span
                >
            </div>
            <div class="field-container">
                <app-icon
                    icon="mingcute:lock-fill"
                    color="var(--color-surface-4)"
                    hoverColor="var(--color-surface-4)"
                ></app-icon>
                <input
                    type="text"
                    value="emilyspass"
                    placeholder="Password"
                    formControlName="password"
                    [class.error]="isFieldInvalid('password')"
                />
                <span class="error-message" *ngIf="isFieldInvalid('password')"
                    >Password is required</span
                >
            </div>
            <app-button [full-width]="true" font-size="1.1rem" type="submit">Sign in</app-button>
        </form>
    </div>
</div>
