.recipes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    .no-data-message {
        font-size: 1.5rem;
        grid-column: span 2;
        margin-inline: auto;
        color: var(--color-text-3);
    }
}

@media screen and (max-width: 350px) {
    .recipes-list {
        grid-template-columns: 1fr;
    }
}
