.app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    inline-size: 100%;
    max-inline-size: 430px;
    block-size: 100dvh;
    background-color: var(--color-surface-2);

    & > main {
        overflow: auto;
    }
}

@media screen and (width <= 430) {
    .app-container {
        max-inline-size: 100%;
    }
}
