.app-container {
    position: relative;
    margin: 0 auto;
    inline-size: 100%;
    max-inline-size: 400px;
    min-block-size: 100dvh;
    background-color: var(--color-surface-2);

    & > main {
        padding: 1.5rem;
    }
}
