.meal-type {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.8rem;
    inline-size: 100%;
    padding: 0.5rem;
    border-radius: 0.8rem;
    background-color: var(--color-surface-1);

    .meal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.6rem;

        img {
            inline-size: 3.5rem;
        }

        p {
            font-size: 0.8rem;
            color: var(--color-text-3);
        }

        &:hover {
            cursor: pointer;
            background-color: var(--color-surface-3);
        }

        &.active {
            background-color: var(--color-surface-3);
        }
    }
}
