<div class="home">
    <header>
        <h1 class="home-title">Hungry? Let’s cook!</h1>
        <div class="home-banner-wrapper">
            <img src="/images/banner.png" alt="here" class="home-banner" />
            <h3>Feeling Better!</h3>
            <p>
                Make something tasty and <br />
                enjoy your day
            </p>
        </div>
    </header>
    <app-recipe-carousel
        carousel-title="Most Popular"
        [recipes-data]="mostPopularRecipesData()"
        [is-fetching]="mostPopularRecipesLoading()"
        navigation-link="recipes"
    ></app-recipe-carousel>
    <app-recipe-carousel
        carousel-title="Desserts"
        [recipes-data]="dessertData()"
        [is-fetching]="dessertLoading()"
        navigation-link="recipes"
    ></app-recipe-carousel>
</div>
