<div class="recipe-carousel">
    <div class="recipe-carousel-header">
        <h5>{{ title }}</h5>
        <a [routerLink]="navigationLink" class="recipe-carousel-navigation">See all</a>
    </div>
    <swiper-container
        slides-per-view="auto"
        space-between="12"
        grab-cursor="true"
        loop="true"
        autoplay='{"delay": 2500, "disableOnInteraction": false}'
    >
        <swiper-slide *ngFor="let recipe of recipes">
            <div class="recipe-carousel-card">
                <img [ngSrc]="recipe.image" fill loading="lazy" />
                <div class="recipe-carousel-glass-box">
                    <h6>{{ recipe.name | truncate: 15 }}</h6>
                    <footer>
                        <div class="recipe-carousel-time">
                            <p>{{ recipe.cookTimeMinutes }} min</p>
                            <app-icon
                                icon="mingcute:time-fill"
                                color="var(--color-surface-3)"
                                [size]="18"
                            ></app-icon>
                        </div>
                        <app-icon
                            icon="mingcute:bookmark-line"
                            color="var(--color-surface-3)"
                        ></app-icon>
                    </footer>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</div>
