<div class="recipe-carousel">
    <div class="recipe-carousel-header">
        <h5>{{ title }}</h5>
        <a [routerLink]="navigationLink" class="recipe-carousel-navigation">See all</a>
    </div>
    <swiper-container
        slides-per-view="auto"
        space-between="12"
        grab-cursor="true"
        loop="true"
        autoplay='{"delay": 2500, "disableOnInteraction": false}'
    >
        <swiper-slide *ngFor="let recipe of recipes">
            <div class="recipe-carousel-card">
                <img [src]="recipe.image" />
                <div class="recipe-carousel-glass-box">
                    <h6>{{ recipe.name }}</h6>
                    <footer>
                        <p>{{ recipe.cookTimeMinutes }} min</p>
                        <app-icon icon="mingcute:bookmark-line"></app-icon>
                    </footer>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>
</div>
